################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/genshin-uid-hide/SecretView/obj/x86
/genshin-uid-hide/SecretView/bin/Debug/JA
/genshin-uid-hide/SecretView/bin/Debug/KO
/genshin-uid-hide/SecretView/bin/Debug/prcp.nlp
/genshin-uid-hide/SecretView/bin/Debug/prc.nlp
/genshin-uid-hide/SecretView/bin/Debug/normnfkd.nlp
/genshin-uid-hide/SecretView/bin/Debug/normnfkc.nlp
/genshin-uid-hide/SecretView/bin/Debug/normnfd.nlp
/genshin-uid-hide/SecretView/bin/Debug/normnfc.nlp
/genshin-uid-hide/SecretView/bin/Debug/normidna.nlp
/genshin-uid-hide/SecretView/bin/Debug/mscorlib.dll
/genshin-uid-hide/SecretView/bin/Debug/ksc.nlp
/genshin-uid-hide/SecretView/bin/Debug/bopomofo.nlp
/genshin-uid-hide/SecretView/bin/Debug/big5.nlp
/genshin-uid-hide/SecretView/bin/Debug/xjis.nlp
/genshin-uid-hide/SecretView/bin/Debug/sorttbls.nlp
/genshin-uid-hide/SecretView/bin/Debug/sortkey.nlp
/genshin-uid-hide/SecretView/bin/Debug/SecretView.pdb
/genshin-uid-hide/.vs/SecretView
